meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='This is a project to build a web store with React.js and other modern front-end developer tools for learning purposes.')
title React Web Store DEMO
link(rel='stylesheet', href='app/css/main.css')
