nav
  #mobile
    span
    span
    span
  #scrolled-nav-bg
  ul#menu
    li
      a(href='#') A lap tetejére
    li
      a(href='#rolunk') Rólunk
    li
      a(href='/aruhaz.html') Termékek
    li
      a(href='#kapcsolat') Kapcsolat
