h2 Rólunk
p A céget a korábbi épületgépészeti gyakorlatunkra alapozva 2008 februárjában családi vállalkozásként alapítottuk. Előzőleg 1988-tól épületgépészeti tervezéssel, gázelosztó vezeték tervezéssel, majd  a 90-es évektől vállalkozóként kivitelezéssel foglalkoztunk...
  span.more
p#more Nagyatádon szerelvény szaküzlet nyitásával a tervezés–kivitelezés mellett épületgépészeti szerelvény, szaniter kiskereskedelemmel bővítettük vállalkozásunkat. Jelenleg rendelkezésünkre áll a kivitelezéshez szükséges teljes kéziszerszám-,  kisgéppark, továbbá a korábbi-, illetve jelenlegi technológiák megfelelő szintű ismerete. Vállaljuk családi házak, kisebb ipari létesítmények, intézmények gépészeti rendszereinek teljes körű tervezését, kivitelezését, karbantartását. Szerelvényboltunkban az egyéni vásárlók, és a területen működő vállalkozások épületgépészeti anyagokkal történő kiszolgálásával foglalkozunk. Nagy hangsúly fektetünk arra, hogy az igényeket teljes körűen, minél jobb színvonalon tudjuk kielégíteni, a raktáron nem tartott, de esetenként keresett anyagok beszerzését is megoldjuk. Díjtalan szaktanácsadással segítjük vevőink munkáját, tanácsokat adunk a kiválasztáshoz, a szakszerű beépítéshez, az üzemeltetéshez. Napi szinten forgalmazzuk a kivitelezéshez szükséges anyagokat, szerelvényeket, szanitereket, így többek között:
//ul
  li csővezetékeket, és idomokat (fekete acél, vörösréz, ötrétegű,
  strong REHAU, PVC, KPE       csövek-,  és idomok),
  li szerelvényeket (
  strong
    | MOFÉM, GIACOMINI, HERZ, LUXOR, COMAP, HONEYWELL,
    | SCHELL , elzáró-, visszacsapó-, szabályozó-, radiátor-, légtelenítő-, stb. szelepek),
    li regie-, és segédenyagokat (bilincsek, dűbelek, csavarok, ragasztók, tömítőanyagok),
    li csaptelepeket, szifonokat (
    strong MOFÉM, TEKA, BONOMINI, STYRON ),
    li radiátorokat (
    strong STAR  lapradiátor,
    strong FIXTRED  lapradiátok, törölköző szárító radiátorok),
    li gázkazánokat, gáz- és elektromos vízmelegítőket  (
    strong
      | ARISTON, BOSCH, HAJDU,
      | SAUNIER-DUVAL ),
      li
        | szanitereket, kádakat,  zuhanykabinokat,  WC öblítő berendezéseket  (
        strong
          | ALFÖLDI,
          | JIKA, CERSANIT, M-ACRYL, RADAWAY, RAVAK, GEBERIT, LIV
          |  ).
          | Vásárlóink részére a közvetlen, azonnali kiszolgáláson túl vállaljuk projectekhez teljes körű,
          | vagy részleges anyagbeszerzést, szükség szerint anyag kigyűjtéssel, előzetes árajánlattal.
          | Kérjük, hogy igényével keresse fel szaküzletünket, mérsékelt árakon szakszerű kiszolgálást
          | ajánlunk Önnek!
