h2 Kapcsolat
ul#open
  li
    h3 Nyitvatartási idő
  li
    p Hétfő - Péntek
    span 07:00-12:00 13:00-17:00
  li
    p Szombat
    span 08:00 - 12:00
  li
    p Vasárnap
    span   Zárva
ul#info
  li
    p Telefon
    a(href='tel:+36305486217') +36-30-548-6217
  li
    p E-mail
    a(href='mailto:orban.deflex@gmail.com') orban.deflex@gmail.com
  li
    p Cím
    a(href='https://www.google.com/maps/@46.224687,17.367,16z') 7500 Nagyatád, Árpád utca 35.
  li#map
