h1 Üdvözöljük honlapunkon!
img#logo(src='assets/images/deflex.png', alt='Déflex logó')
h4.opacity Épületgépészeti Kft.
h5.opacity Minden ami a házhoz kell!
#carousel
  #slider
    img(src='assets/images/2-min.jpg', alt='bolt beltér, vásárló szemszöge')
    img(src='assets/images/1-min.jpg', alt='bolt kívülről')
    img(src='assets/images/3-min.jpg', alt='beltér, flex csövek')
    img(src='assets/images/4-min.jpg', alt='beltér, mosdók')
    img(src='assets/images/5-min.jpg', alt='beltérvásárló szemszöge 2')
