doctype html
html(lang='hu')
  head
    include modules/head
  body#store
    header
      img#logo(src='assets/images/deflex.png', alt='Déflex logó')
      include modules/menu
    main#app
    footer
      include modules/footer

    script(src='assets/js/store.min.js')
    script(src='assets/js/main.min.js')
