doctype html
html(lang='hu')
  head
    include modules/head
  body
    header
      include modules/menu
    main
      section#landing
        include sections/landing
      hr
      section#rolunk
        include sections/about
      hr
      section#kapcsolat
        include sections/contact
    footer
      include modules/footer

    script(src='https://maps.googleapis.com/maps/api/js')
    script
      include ../assets/js/modules/map.js

    script(src='assets/js/main.min.js')
