doctype html
html(lang='en')
  head
    include modules/head
  body#store
    header
      img#logo(src='app/images/logo.png', alt='logo')
      include modules/menu
    main#app
    footer
      include modules/footer

    script(src='app/js/main.js')
