doctype html
html(lang='en')
  head
    include modules/head
  body#store
    header
      img#logo(src='dist/assets/images/logo.png', alt='logo')
      include modules/menu
    main#app
    footer
      include modules/footer

    script(src='dist/assets/js/bundle.js')
