doctype html
html(lang='en')
  head
    include modules/head
  body#store
    header
      img#logo(src='%PUBLIC_URL%/static/images/logo.png', alt='logo')
      include modules/menu
    main#root
    footer
      include modules/footer
